# Ignorando as Pastas com os Materiais das Aulas
/Aula
Aula/
Aula/*
/Jogos
Jogos/
Jogos/*
/Prática em Casa
Prática em Casa/
Prática em Casa/*
/UC0- Adicional
UC0- Adicional/
UC0- Adicional/*
Curso Senac DS- Plano do Curso Matérias DS.pdf
Curso Senac DS- Plano do Curso Matérias DS.pdf/
**/Curso Senac DS- Plano do Curso Matérias DS.pdf
/Curso Senac DS- Plano do Curso Matérias DS.pdf
fretes-mvc
fretes-mvc/
**/fretes-mvc
/fretes-mvc - Atalho
fretes-mvc - Atalho/*
fretes-mvc - Atalho/
/fretes-mvc - Atalho.Ink
fretes-mvc - Atalho.Ink/*
fretes-mvc - Atalho.Ink/
Desenvolvimento de Sistemas Senac/UC5- Aline/Atividades
desktop.ini
desktop.ini/
/desktop.ini
Desktop.ini
DESKTOP.INI
**/desktop.ini
desktop.ini/*
Desktop.ini
DESKTOP.INI
**/desktop.ini
**/Desktop.ini
